.logo {
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
    font-weight: 700;
    margin-right: 93px;
}

.logo-web {
    color: var(--color-blue);}

.logo--footer {
    color: var(--color-white);}