body {
    font-family: Roboto, sans-serif;
    color: var(--color-comment);
    background-color: var(--color-white);
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding: 94px 0;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.6);
}